<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>RunAtLoad</key>
		<true/>
		<key>Label</key>
		<string>com.sicreative.VoltageShift</string>
		<key>ProgramArguments</key>
		<array>
			<string>/Library/Application Support/VoltageShift/voltageshift</string>
			<string>offsetdaemons</string>
			<string>-100</string>
			<string>-50</string>
			<string>-100</string>
			<string>0</string>
			<string>0</string>
			<string>0</string>
			<string>-1</string>
			<string>22</string>
			<string>50</string>
			<string>1</string>
		</array>
		<key>StartCalendarInterval</key>
		<array>
			<dict>
				<key>Minute</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Minute</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Minute</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>Minute</key>
				<integer>30</integer>
			</dict>
			<dict>
				<key>Minute</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>Minute</key>
				<integer>50</integer>
			</dict>
		</array>
	</dict>
</plist>
