<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>RunAtLoad</key>
		<true/>
		<key>Label</key>
		<string>com.sicreative.VoltageShift</string>
		<key>ProgramArguments</key>
		<array>
			<string>/bin/bash</string>
			<string>-c</string>
			<string>
			  "/Library/Application Support/VoltageShift/voltageshift" offset -100 -50 -100 -50
			  "/Library/Application Support/VoltageShift/voltageshift" write 0x610 0x42819000EB80B0
			  "/Library/Application Support/VoltageShift/voltageshift" wrmem 0xFED159A0 0xEB80B0
			  "/Library/Application Support/VoltageShift/voltageshift" wrmem 0xFED159A4 0x428190
			</string>
		</array>
		<key>StartCalendarInterval</key>
		<array>
			<dict>
				<key>Minute</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Minute</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Minute</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>Minute</key>
				<integer>30</integer>
			</dict>
			<dict>
				<key>Minute</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>Minute</key>
				<integer>50</integer>
			</dict>
		</array>
	</dict>
</plist>
